{% extends "base.html" %}
{% block title%}Company{% endblock %}
{% block content %}

<body>
    <div class="content">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0 text-white">Company Information</h5>
                </div>
                <div class="card-body">
                    <table id="example" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Company Name</th>
                                <th>Action</t>
                            </tr>
                        </thead>
                        <tbody>
                            {% for company in company %}
                            <tr>
                                <td>{{company.stock_code}}</td>
                                <td>{{company.stock_name}}</td>
                                <td>
                                    <a href="google.com" class="btn btn-primary">View</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                        <form method="POST">
                            <button type="submit" class="btn btn-primary">Export to CSV</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#example').DataTable();
                });
            </script>
    </div>
</body>
{% endblock %}
