{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
  .container{
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    max-width: max-content;
    background-color: white;
  }
  .card-deck{
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; /* Added align-items property to stretch the card decks */
    padding-bottom: 20px;
    text-align: center;
  }
  .card{
    min-height: 50px;
  }
  .card-header {
    background-color: rgb(208, 35, 35);
    color: white;
    height: 50px; /* Added a fixed height for all card headers */
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
<body>
  <div class="content">
    <div class="container">
      <div class="card-deck">
        <!-- First card deck -->
        <div class="card">
          <div class="card-header">Total Bankruptcy Recorded</div>
          <div class="card-body">
            <b><p class="card-title text-center">Total Bankruptcy Data Recorded: {{ Total }}</p></b>
            <b><p class="card-title text-center">Today Bankruptcy Data Recorded: {{ Today_Records }}</p></b>
          </div>
        </div>
        <!-- Second card deck -->
        <div class="card">
          <div class="card-header">No. of Bankrupt & Non-Bankrupt Recorded Today</div>
          <div class="card-body">
            <b><p class="card-title">High Bankruptcy Risk Recorded: {{ TodayBankrupt }}</p></b>
            <b><p class="card-title">Low Bankruptcy Risk Recorded: {{ TodayNotBankrupt }}</p></b>
          </div>
        </div>
        <!-- Third card deck -->
        <div class="card">
          <div class="card-header">Risk Numbers Recorded Today</div>
          <div class="card-body">
            <b><p class="card-title">Highest Bankruptcy Risk Number Recorded: {{ HighRisk }}</p></b>
            <b><p class="card-title">Lowest Bankruptcy Risk Number Recorded: {{ LowRisk }}</p></b>
          </div>
        </div>
      </div>
  <!-- Chart codes  -->
      <!-- First chart -->
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-header">Total Bankruptcy Recorded</div>
            <div class="card-body">
              <canvas id="ChartLine1" height="300"></canvas>
            </div>
          </div>
        </div>
        <!-- Second chart -->
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-header">No. of Bankrupt & Non-Bankrupt Recorded</div>
            <div class="card-body">
              <canvas id="ChartPie" height="300"></canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- Third chart -->
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-header">Lowest Recorded Bankruptcy</div>
            <div class="card-body">
              <canvas id="ChartBar2" height="300" onclick="chartBar.options.onClick(event, chartBar.getElementsAtEvent(event))"></canvas>
            </div>
          </div>
        </div>
        <!-- Fourth chart -->
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-header">Highest Recorded Bankruptcy</div>
            <div class="card-body">
              <canvas id="ChartBar3" height="300"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript">
  var ctx = document.getElementById('ChartPie').getContext('2d');
  var chart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['Bankrupt', 'No Bankrupt'],
      datasets: [{
        data: [{{ Bankrupt }}, {{ NotBankrupt }}],
        backgroundColor: ['#A2C3DB', '#8871A0']
      }]
    },
    options: {
      cutoutPercentage: 70,
      responsive: true,
      maintainAspectRatio: false,
      tooltips: {
        enabled: false
      },
      legend: {
        display: false
      },
      plugins: {
        labels: {
          render: 'labels',
          fontColor: '#ffffff'
        }
      }
    }
  });
</script>

<script type="text/javascript">
  var ctxLine = document.getElementById('ChartLine1').getContext('2d');
  var dates = {{ Dates | tojson }};
  var counts = {{ Total_Date | tojson }};
  var chartLine = new Chart(ctxLine, {
    type: 'line',
    data: {
      labels: dates,
      datasets: [{
        label: "Dates",
        data: counts,
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 2,
        pointBackgroundColor: 'rgba(54, 162, 235, 1)',
        pointRadius: 4,
        pointHoverRadius: 6,
        tension: 0.4
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<script type="text/javascript">
    function renderBarChart() {
        var ctxBar = document.getElementById('ChartBar2').getContext('2d');

        // Retrieve the data for the top 5 lowest Risk values
        var riskData = {{ Risk_Data_Asc|tojson }};

        // Extract the labels and data for the chart
        var labels = riskData.map(function(item) {
            return item.companyname;
        });
        var data = riskData.map(function(item) {
            return item.Risk;
        });

        var backgroundColors = ['#80c904', '#73b504', '#66a103', '#5a8d03', '#4d7902'];

        // Function to get the risk label based on the color
        function getLowRiskLabel(color) {
            if (color === '#80c904') return 'Very Low Risk';
            if (color === '#73b504') return 'Quite Low Risk';
            if (color === '#66a103') return 'Slightly Low Risk';
            if (color === '#5a8d03') return 'Low Risk';
            return 'Medium Risk';
        }

        var chartBar = new Chart(ctxBar, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
            label: 'Risk Levels',
            data: data,
            backgroundColor: backgroundColors
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
            y: {
                beginAtZero: true
            }
            },
            plugins: {
            tooltip: {
                callbacks: {
                    label: function(context) {
                        var color = context.dataset.backgroundColor[context.dataIndex];
                        var riskLabel = getLowRiskLabel(color);
                        return riskLabel + ': ' + context.parsed.y;
                    }
                }
            }
            }
        }
        });

        // Add click event listener to the bars
        chartBar.options.onClick = function (event, elements) {
            if (elements.length > 0) {
                var index = elements[0].index;
                // var companyname = riskData[index].companyname;
                var companyId = riskData[index].id;
                window.location.href = '/detail/' + companyId; // Replace '/details/' with your actual details page URL
            }
        };
    }

    // Call renderBarChart after the page has loaded
    document.addEventListener('DOMContentLoaded', function () {
        renderBarChart();
    });
</script>

<script type="text/javascript">
    function renderBarChart2() {
        var ctxBar = document.getElementById('ChartBar3').getContext('2d');

        // Retrieve the data for the top 5 highest Risk values
        var riskData = {{ Risk_Data_Desc|tojson }};

        // Extract the labels and data for the chart
        var labels = riskData.map(function(item) {
            return item.companyname;
        });
        var data = riskData.map(function(item) {
            return item.Risk;
        });

        var backgroundColors = ['#9b0000', '#b70000', '#c60000', '#d70000', '#ff0000'];

        // Function to get the risk label based on the color
        function getRiskLabel(color) {
            if (color === '#9b0000') return 'Very High Risk';
            if (color === '#b70000') return 'Quite High Risk';
            if (color === '#c60000') return 'Slightly High Risk';
            if (color === '#d70000') return 'High Risk';
            return 'Medium Risk';
        }

        var chartBar = new Chart(ctxBar, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Risk Levels',
                    data: data,
                    backgroundColor: backgroundColors
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                var color = context.dataset.backgroundColor[context.dataIndex];
                                var riskLabel = getRiskLabel(color);
                                return riskLabel + ': ' + context.parsed.y;
                            }
                        }
                    }
                }
            }
        });

        // Add click event listener to the bars
        chartBar.options.onClick = function (event, elements) {
            if (elements.length > 0) {
                var index = elements[0].index;
                // var companyname = riskData[index].companyname;
                var companyId = riskData[index].id;
                window.location.href = '/detail/' + companyId; // Replace '/details/' with your actual details page URL
            }
        };
    }

    // Call renderBarChart after the page has loaded
    document.addEventListener('DOMContentLoaded', function () {
        renderBarChart2();
    });
</script>

{% endblock %}