{% extends "base.html" %}
{% block title %}Details for Company{% endblock %}

{% block content %}
<head>
  <style>
    .chart-box {
      max-width: max-content;
      min-width: fit-content;
      width: 100%;
    }
    .chart-container {
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      min-width: fit-content;
      max-width: auto; 
    }
    .title{
      text-align: center;
      font-weight: bold;
    }
    .container{
      padding-top: 20px;
      min-width: fit-content; 
      max-width: 1350px;
    }
    .card-header {
      background-color: rgb(208, 35, 35);
      text-align: center;
      color: white;
    }
    .box-container {
      background-color: white;
      padding: 20px;
    }
    .btn-danger{
      margin-top: 20px;
    }
    .red-themed {
    background-color: rgb(208, 35, 35);
    color: white; /* Text color to ensure readability on a red background */
    } 
    .btn-primary {
      background-color: rgb(208, 35, 35)!important;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }
    .btn-primary:hover {
      background-color: rgb(175, 46, 46)!important;
    }
  </style>
</head>

<body>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-header">
            <h5>Details of {{company.stock_name}}</h5>
          </div>
            <!-- Top Chart Code -->
            <!-- Chart 1 -->
            <div class="box-container text-center" style="margin-bottom: 15px;">
              {% if user.subscribed == False %}
              <div class="alert alert-danger alert-dismissable fade show" role="alert">
                Recommendation only Available to Subscribed Users
                <button type="button" class="close" data-dismiss="alert">
                  <span area-hidden="true">&times;</span>
                </button>
              </div>
              {% else %}
              <div class="chart-container d-inline-block">
                <canvas id="myChart" width="400" height="350"></canvas>
              </div>
            <!-- Chart 2 -->
            <div class="chart-container d-inline-block">
              <canvas id="radarChart" width="600" height="350"></canvas>
            </div>
            <br>
            <br>
            {% if ratios.rClass == 'S' %}
            <h4 style="color:darkgreen">Outperforming</h4>
            {% elif ratios.rClass == 'A' %}
            <h4 style="color:green">Highly Recommended</h4>
            {%elif ratios.rClass == 'B' %}
            <h4 style="color:green">Good</h4>
            {%elif ratios.rClass == 'C' %}
            <h4 style="color:yellow">Warning</h4>
            {%elif ratios.rClass == 'D' %}
            <h4 style="color:red">Not Recommended</h4>
            {%endif%}
            {%endif%}
          </div>
          
        </div>
      </div>
      <!-- Company name -->
      <div class="form-group">
        <div class="row">
          <!-- Equity Ratio -->
          <div class="col">
            <label for="ER">Company Name:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">👔</span>
              </div>
              <input type="text" class="form-control" id="ER" name="ER" min="0" step="0.000000001" placeholder="Enter Company's Equity Ratio" value="{{company.stock_name}}" disabled>
            </div>
          </div>
          </div>
          </div>
      <!-- First row of display -->
      <div class="form-group">
        <div class="row">
          <!-- Equity Ratio -->
          <div class="col">
            <label for="ER">Earnings Per Share:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">💰</span>
              </div>
              <input type="text" class="form-control" id="ER" name="ER" min="0" step="0.000000001" placeholder="Enter Company's Equity Ratio" value="{{ratios.rEPS}}" disabled>
            </div>
          </div>
          <!-- Liabilities Coverage -->
          <div class="col">
            <label for="LC">Price to Earnings:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">📈</span>
                </div>
                <input type="text" class="form-control" id="LC" name="LC" min="0" step="0.000000001" placeholder="Enter Company's Liabilities Coverage" value="{{ratios.rPE}}" disabled>
              </div>
          </div>
          <!-- Net profit to Inventory -->
          <div class="col">
            <label for="NPTI">Return on Equity:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">💹</span>
                </div>
                <input type="text" class="form-control" id="NPTI" name="NPTI" min="0" step="0.000000001" placeholder="Enter Company's Net Profit To Inventory" value="{{(ratios.rROE * 100)|round(2)}}" disabled>
              </div>
          </div>
        </div>
    </div>
        <!-- Third row of display -->
        <div class="form-group">
          <div class="row">
            <!-- current_assets_without_inventories_to_long_term_liabilities -->
            <div class="col">
              <label for="CAWITL">Operating Margins:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">🏭</span>
                </div>
                <input type="text" class="form-control" id="CAWITL" name="CAWITL" min="0" step="0.000000001" placeholder="Enter Company's Current Assets Without Inventories To Liabilities" value="{{(ratios.rOM * 100)|round(2)}}" disabled>
              </div>
            </div>
            <!-- current_liabilities_by_365_by_cost_of_products_sold -->
            <div class="col">
              <label for="CL365">Free Cash Flow:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">💸</span>
                </div>
                <input type="text" class="form-control" id="CL365" name="CL365" min="0" step="0.000000001" placeholder="Enter Company's Current Liabilities Of 365 Days By Cost Of Products Sold" value="{{ratios.rFCF}}" disabled>
              </div>
            </div>
          </div>
        </div>
        <!-- Fourth row of display -->
        <div class="form-group">
          <div class="row">
            <!-- assets_without_inventories_and_short_term_liabilities_to_sales_without_gross_profit_and_depreciation -->
            <div class="col">
              <label for="AISTL">Dividend Yield:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">📊</span>
                </div>
                <input type="text" class="form-control" id="AISTL" name="AISTL" min="0" step="0.000000001" placeholder="Enter Company's Assets w/o Inventories & Short Term Liabilities To Sales (w/o Gross Profit and Depreciation)" value="{{(ratios.rDY * 100) |round(2)}}" disabled>
              </div>
            </div>
            <!-- liability_to_operating_profit_ratio_per_day -->
            <div class="col">
              <label for="LTOPR">Payout Ratio:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">📊</span>
                </div>
                <input type="text" class="form-control" id="LTOPR" name="LTOPR" min="0" step="0.000000001" placeholder="Enter Company's Liability To Operating Profit Ratio Per Day" value="{{(ratios.rPR * 100)  |round(2)}}" disabled>
              </div>
          </div>
        </div>
      </div>
      {% if user.subscribed == True %}
      <!-- Chart code -->
      <div class="box-container" style="margin-top: 200px; text-align: center;">
        <div class="chart-container" style="display: inline-block; width: fit-content; height: fit-content;">
          <canvas id="LineChart" width="1400" height="500"></canvas>
        </div>
<br>
<button class="btn btn-primary" style="width: 100px;" onclick="timeFrame(this)" value="day">Day</button>
<button class="btn btn-primary" style="width: 100px;" onclick="timeFrame(this)" value="week">Week</button>
<button class="btn btn-primary" style="width: 100px;" onclick="timeFrame(this)" value="month">Month</button>
<form method="get" action="{{ url_for('views.technical_analysis', stock_code=company.stock_code) }}">
  <button class="btn btn-primary" style="width: 200px; float: right">Technical Analysis</button>
</form>
<br><br><br>
        <table id="example" class="table table-striped table-hover">
          <thead>
              <tr>
                <th class="red-themed">Date</th>
                <th class="red-themed">Open</th>
                <th class="red-themed">High</th>
                <th class="red-themed">Low</th>
                <th class="red-themed">Close</th>
                <th class="red-themed">Volume</th>  
              </tr>
          </thead>
          <tbody>
              {% for price in prices %}
              <tr>
                  <td>{{price.Date}}</td>
                  <td>{{price.Open}}</td>
                  <td>{{price.High}}</td>
                  <td>{{price.Low}}</td>
                  <td>{{price.Close}}</td>
                  <td>{{price.Volume}}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>

      <form method="POST" action="/export_csv">
        <input type="hidden" id="tableData" name="table_data" value="">
        <button type="submit" class="btn btn-primary" id="exportButton">Export to CSV</button>
      </div>    
    </form>
      <div class="box-container" style="margin-top: 200px; text-align: center;">
        {% if user.subscribed == False %}
        <div class="alert alert-danger alert-dismissable fade show" role="alert">
          Forecasting only Available to Subscribed Users
          <button type="button" class="close" data-dismiss="alert">
            <span area-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="chart-container" style="display: inline-block; width: fit-content; height: fit-content;">
          <canvas id="LineChartRatio" width="1400" height="500"></canvas>
        </div>
        <br>
        <button class="btn btn-primary" style="width: 80px;" onclick="ratioFrame(this)" value="eps">EPS</button>
        <button class="btn btn-primary" style="width: 80px;" onclick="ratioFrame(this)" value="pe">PE</button>
        <button class="btn btn-primary" style="width: 80px;" onclick="ratioFrame(this)" value="roe">ROE</button>
        <button class="btn btn-primary" style="width: 80px;" onclick="ratioFrame(this)" value="om">OM</button>
        <button class="btn btn-primary" style="width: 80px;" onclick="ratioFrame(this)" value="dy">DY</button>
        <button class="btn btn-primary" style="width: 80px;" onclick="ratioFrame(this)" value="pr">PR</button>
        <button class="btn btn-primary" style="width: 80px;" onclick="ratioFrame(this)" value="fcf">FCF</button>
<br><br><br>
        <table id="example2" class="table table-striped table-hover">
          <thead>
              <tr>
                <th class="red-themed">Date</th>
                <th class="red-themed">EPS</th>
                <th class="red-themed">PE</th>
                <th class="red-themed">ROE</th>
                <th class="red-themed">OM</th>
                <th class="red-themed">DY</th>
                <th class="red-themed">PR</th>  
                <th class="red-themed">FCF</th>  
                <th class="red-themed">Class</th>  
              </tr>
          </thead>
          <tbody>
              {% for pastratio in pastratios_data %}
              <tr>
                  <td>{{pastratio.rDate}}</td>
                  <td>{{pastratio.rEPS}}</td>
                  <td>{{pastratio.rPE}}</td>
                  <td>{{(pastratio.rROE*100)|round(3)}}</td>
                  <td>{{(pastratio.rOM*100)|round(3)}}</td>
                  <td>{{(pastratio.rDY*100)|round(3)}}</td>
                  <td>{{(pastratio.rPR*100)|round(3)}}</td>
                  <td>{{pastratio.rFCF}}</td>
                  <td>{{pastratio.rClass}}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <form method="POST" action="/export_csv">
        <input type="hidden" id="tableData2" name="table_data" value="">
        <button type="submit" class="btn btn-primary" id="exportButtonRatio">Export to CSV</button>
      </form>
      {%endif%}
      </div>   
      <div class="box-container" style="margin-top: 200px; text-align: center;">
                {% if user.subscribed == False %}
        <div class="alert alert-danger alert-dismissable fade show" role="alert">
          Dividend List only Available to Subscribed Users
          <button type="button" class="close" data-dismiss="alert">
            <span area-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="chart-container" style="display: inline-block; width: fit-content; height: fit-content;">
          <canvas id="LineChartDividend" width="1400" height="500"></canvas>
        </div>
        <table id="example3" class="table table-striped table-hover">
          <thead>
              <tr>
                <th class="red-themed">Announce Date</th>
                <th class="red-themed">Ex Date</th>
                <th class="red-themed">Pay Date</th>
                <th class="red-themed">Amount</th>

              </tr>
          </thead>
          <tbody>
              {% for dividend_record in dividend_records %}
              <tr>
                  <td>{{dividend_record.dAnnceDate}}</td>
                  <td>{{dividend_record.dExDate}}</td>
                  <td>{{dividend_record.dPayDate}}</td>
                  <td>{{dividend_record.dAmount}}</td>

              </tr>
              {% endfor %}
          </tbody>
        
      </table>
      <form method="POST" action="/export_csv">
        <input type="hidden" id="tableData3" name="table_data" value="">
        <button type="submit" class="btn btn-primary" id="exportButtonDividend">Export to CSV</button>
    </form>
    {%endif%}
      </div>   
      <br>
      <!-- Company name -->
      <div class="form-group">
          <div class="form-group">
            <label for="Companyname">Company Name:</label>
            <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text">👔</span>
          </div>
            <input type="text" class="form-control" id="Companyname" name="Companyname" placeholder="Enter Company Name" value="{{company.stock_name}} ({{company.stock_code}})" disabled>
          </div>
      </div>
      <!-- First row of display -->
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="ER">Address 1:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">🏠</span>
              </div>
              <input type="text" class="form-control" id="ER" name="ER" min="0" step="0.000000001" placeholder="Enter Company's Equity Ratio" value="{{company.address1}}" disabled>
            </div>
          </div>
          <!-- Liabilities Coverage -->
          <div class="col">
            <label for="LC">Address 2:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">🏠</span>
                </div>
                <input type="text" class="form-control" id="LC" name="LC" min="0" step="0.000000001" placeholder="Enter Company's Liabilities Coverage" value="{{company.address2}}" disabled>
              </div>
          </div>
        </div>
    </div>
           <!-- Third row of display -->
           <div class="form-group">
            <div class="row">
          <!-- Net profit to Inventory -->
            <div class="col">
              <label for="NPTI">City:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">🏙</span>
                  </div>
                  <input type="text" class="form-control" id="NPTI" name="NPTI" min="0" step="0.000000001" placeholder="Enter Company's Net Profit To Inventory" value="{{company.city}}" disabled>
                </div>
            </div>
              <!-- current_assets_without_inventories_to_long_term_liabilities -->
              <div class="col">
                <label for="CAWITL">Zip Code:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">📬</span>
                  </div>
                  <input type="text" class="form-control" id="CAWITL" name="CAWITL" min="0" step="0.000000001" placeholder="Enter Company's Current Assets Without Inventories To Liabilities" value="{{company.zip}}" disabled>
                </div>
              </div>
              <!-- current_liabilities_by_365_by_cost_of_products_sold -->
              <div class="col">
                <label for="CL365">Phone:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">📞</span>
                  </div>
                  <input type="text" class="form-control" id="CL365" name="CL365" min="0" step="0.000000001" placeholder="Enter Company's Current Liabilities Of 365 Days By Cost Of Products Sold" value="+{{company.phone}}" disabled>
                </div>
              </div>
            </div>
          </div>
        <!-- Fourth row of display -->
        <div class="form-group">
          <div class="row">
            <!-- assets_without_inventories_and_short_term_liabilities_to_sales_without_gross_profit_and_depreciation -->
            <div class="col">
              <label for="AISTL">Industry:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">🏭</span>
                </div>
                <input type="text" class="form-control" id="AISTL" name="AISTL" min="0" step="0.000000001" placeholder="Enter Company's Assets w/o Inventories & Short Term Liabilities To Sales (w/o Gross Profit and Depreciation)" value="{{company.industry}}" disabled>
              </div>
            </div>
            <!-- liability_to_operating_profit_ratio_per_day -->
            <div class="col">
              <label for="LTOPR">Sector:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">📊</span>
                </div>
                <input type="text" class="form-control" id="LTOPR" name="LTOPR" min="0" step="0.000000001" placeholder="Enter Company's Liability To Operating Profit Ratio Per Day" value="{{company.sector}}" disabled>
              </div>
          </div>
        </div>
      </div>
                       <!-- Third row of display -->
                       <div class="form-group">
                        <div class="row">
                      <!-- Net profit to Inventory -->
                        <div class="col">
                          <label for="NPTI">Website:</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">🌐</span>
                              </div>
                              <input type="text" class="form-control" id="NPTI" name="NPTI" min="0" step="0.000000001" placeholder="Enter Company's Net Profit To Inventory" value="{{company.website}}" disabled>
                            </div>
                        </div>
                          <!-- current_assets_without_inventories_to_long_term_liabilities -->
                          <div class="col">
                            <label for="CAWITL">Number of Employees:</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">👥</span>
                              </div>
                              <input type="text" class="form-control" id="CAWITL" name="CAWITL" min="0" step="0.000000001" placeholder="Enter Company's Current Assets Without Inventories To Liabilities" value="{{company.fullTimeEmployees}}" disabled>
                            </div>
                          </div>
                          <!-- current_liabilities_by_365_by_cost_of_products_sold -->
                      </div>
                    <!-- Fourth row of display -->
</div>
    </div>
    
    {% if user.is_authenticated %}
    {% if not user.subscribed and watchlist_count < 5 or user.admin_user  or user.subscribed%}
      <!-- Button code -->
      <div class="text-center">
        <br>
        {% if not is_in_watchlist %}
        <form method="POST" action="/add_to_watchlist/{{ company.stock_code }}">
          <input type="hidden" name="stock_code" value="{{ company.stock_code }}">
          <input type="hidden" name="user_id" value="{{ user.id }}">
            <button class="btn btn-success" type="submit">Add to Watch List</button>
          </form>
{% endif %}
      </div>
    {% elif not user.subscribed and watchlist_count >= 5 %}
      <!-- Button code with a tooltip -->
      <div class="text-center">
        <br>
        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="You already have 5 items in your watchlist">
          Watchlist Maximum Reached
        </button>
      </div>
    {% else %}
      <!-- Default action when user is authenticated but doesn't meet other conditions -->
      <!-- You can add code for this case here -->
    {% endif %}
  {% else %}
    <!-- Button for login -->
    <div class="text-center">
      <br>
      <a href="/login" class="btn btn-primary">Login to Add to Watchlist</a>
    
  {% endif %}
  {% if is_in_watchlist %}
  <div class="text-center">
    <form method="POST" action="/add_to_watchlist/{{ company.stock_code }}">
      <input type="hidden" name="stock_code" value="{{ company.stock_code }}">
      <input type="hidden" name="user_id" value="{{ user.id }}">
  <button class="btn btn-danger" type="submit">Remove from Watch List</button>
</form>

{% endif %}
    </div>
  
    {%endif%}
  </div>
  </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js" integrity="sha512-wUYbRPLV5zs6IqvWd88HIqZU/b8TBx+I8LEioQ/UC0t5EMCLApqhIAnUg7EsAzdbhhdgW07TqYDdH3QEXRcPOQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Score'],
      datasets: [{
        data: [
          {% if ratios.rClass == 'S' %}
          100,0
        {% elif ratios.rClass == 'A'%}
          75,25
        {% elif ratios.rClass == 'B'%}
          50,50
          {% elif ratios.rClass == 'C'%}
          25,75
          {% elif ratios.rClass == 'D'%}
          0,100
        {% endif %}],
        backgroundColor: ['#FF6961', '#D3D3D3']
      }]
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: '{{company.companyname}} Overall Recommendation', // Set the title text
          font: {
            size: 16, // Set the font size of the title
          },
        },
      },
      cutoutPercentage: 70,
      responsive: true,
      maintainAspectRatio: false,
      tooltips: {
        enabled: false
      },
      legend: {
        display: false
      },
    }
  });
</script>

<script>
  var ctx = document.getElementById('radarChart').getContext('2d');
  
  var chart = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: ['Earnings Per Share', 'Price to Earnings', 'Return on Equity', 'Operating Margins', 
      'Diviend Yield', 'Payout Ratio'],
      datasets: [{
        label: 'Score',
        data: [
        {% if ratios.rEPS >= 0.10 %}
          100
        {% else %}
          Math.max({{ (ratios.rEPS / 0.10) * 100 }},0)
        {% endif %},
        {% if (ratios.rPE <= 10) and (ratios.rPE > 0) %}
          100
        {% elif ratios.rPE <= 50 and (ratios.rPE > 0)%}
          50
        {% else %}
          0
        {% endif %},
        {% if ratios.rROE >= 0.20 %}
          100
        {% else %}
        Math.max({{ (ratios.rROE / 0.20) * 100 }},0)
        {% endif %},
        {% if ratios.rOM >= 0.10 %}
          100
        {% else %}
        Math.max({{ (ratios.rOM / 0.10) * 100 }},0)
        {% endif %},
        {% if ratios.rDY >= 0.02 %}
          100
        {% else %}
          {{ (ratios.rDY / 0.02) * 100 }}
        {% endif %},
        {% if ratios.rPR >= 0.25 and ratios.rPR <= 0.75 %}
          100
          {% elif (ratios.rPR < 0.25 and ratios.rPR > 0 or ratios.rPR > 0.75 and ratios.rPR < 100)%}
          50
          {% else %}
          0
        {% endif %}
      ],
        backgroundColor: 'rgba(208, 35, 35, 0.85)',
        borderColor: 'rgba(255, 204, 0, 1)',
        pointBackgroundColor: 'rgba(208, 35, 35, 1)',
        pointBorderColor: '#fff',
        pointHoverBackgroundColor: '#fff',
        pointHoverBorderColor: 'rgba(108, 160, 220, 1)',
        borderWidth: 2,
      }]
    },
    options : {
       responsive: true,
       maintainAspectRatio: false,
       scales: {
          r: {
            pointLabels: {
          font: {
            size: 15
          }
        },
          min: 0, // MIN
          max: 100, // MAX
          beginAtZero: true,
          angleLines: {
             display: true,
             // color: 'red',
          },
          grid: {
           circular: true,
          },
          ticks: {
           stepSize: 50, // the number of step
          },
        }
      }
     }
  });
</script>

<script type="text/javascript">
        // Get the average monthly data from your Flask code
        var averageMonthlyData = {{ average_monthly_data | tojson }};
        var averageDailyData = {{ price_14 | tojson }};
        var averageWeeklyData = {{ weekly_average_data | tojson }};
        

        // Create a Chart.js chart
        var ctx = document.getElementById('LineChart').getContext('2d');
        var chart1 = new Chart(ctx, {
            type: 'line',
            data: {
                //labels: labels,
                datasets: [{
                    label: 'Average Close Price',
                    data: averageMonthlyData,
                    backgroundColor: [
          'rgba(255, 26, 104, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(0, 0, 0, 0.2)'
        ],
        borderColor: [
          'rgba(255, 26, 104, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(0, 0, 0, 1)'
        ],
        borderWidth: 1,
                    fill: false,
                    
                    tension: 0.1
                }]
            },
    options: {
      plugins: {
        title: {
          display: true,
          text: '{{company.stock_name}} Monthly Stock Price', // Set the title text
          font: {
            size: 16, // Set the font size of the title
          },
        },
        zoom:{
      zoom:{
        wheel:{
          enabled: false
        }
      },
      pan:{
        enabled:true
      }
    }
      },
      scales: {
		x: {
			type: 'time',
			time: {
				unit: 'week'
			}
		},
          y: {
            beginAtZero: false
          }
        },
      legend: {
        position: 'bottom',
        labels: {
          fontColor: '#333', // Legend label color
          usePointStyle: true,
        },
      },
      layout: {
        padding: {
          top: 10,
          bottom: 10,
          left: 10,
          right: 10,
        },
      },
      responsive: true,
      maintainAspectRatio: false,
    }
  });
  function timeFrame(period){
		console.log(period.value);
		if(period.value == 'day'){
			chart1.data.datasets[0].data = averageDailyData;
      chart1.options.scales.x.time.unit = period.value;
		}
		if(period.value == 'week'){
			chart1.data.datasets[0].data = averageWeeklyData;
      chart1.options.scales.x.time.unit = period.value;
		}
		if(period.value == 'month'){
			chart1.data.datasets[0].data = averageMonthlyData;
      chart1.options.scales.x.time.unit = period.value;
		}			
    

    // chart1.options.plugins.zoom.zoom.wheel.enabled = false;
          chart1.resetZoom();
        chart1.update();
    // Wait for 3 seconds
    // setTimeout(function() {
    //     // Re-enable zoom
    //     chart1.options.plugins.zoom.zoom.wheel.enabled = true;
    //     chart1.update();
    // }, 1000);
	}

</script>

<script type="text/javascript">
  // Get the average monthly data from your Flask code
  var rEPSdata = {{ rEPS_data | tojson }};
  var rPEdata = {{ rPE_data | tojson }};
  var rROEdata = {{ rROE_data | tojson }};
  var rOMdata = {{ rOM_data | tojson }};
  var rDYdata = {{ rDY_data | tojson }};
  var rPRdata = {{ rPR_data | tojson }};
  var rFCFdata = {{ rFCF_data | tojson }};
  var averageDailyData2 = {{ price_14 | tojson }};
  var averageWeeklyData2 = {{ weekly_average_data | tojson }};
  

  // Create a Chart.js chart
  var ctx = document.getElementById('LineChartRatio').getContext('2d');
  var chart2 = new Chart(ctx, {
      type: 'bar',
      data: {
          //labels: labels,
          datasets: [{
              label: 'eps',
              data: rEPSdata,
              backgroundColor: [
    'rgba(255, 26, 104, 0.2)',
    'rgba(54, 162, 235, 0.2)',
    'rgba(255, 206, 86, 0.2)',
    'rgba(75, 192, 192, 0.2)',
    'rgba(153, 102, 255, 0.2)',
    'rgba(255, 159, 64, 0.2)',
    'rgba(0, 0, 0, 0.2)'
  ],
  borderColor: [
    'rgba(255, 26, 104, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)',
    'rgba(0, 0, 0, 1)'
  ],
  borderWidth: 1,
              fill: false,
              
              tension: 0.1
          }]
      },
options: {
plugins: {
  title: {
    display: true,
    text: '{{company.stock_name}} Quarterly Financial Ratios (TTM)', // Set the title text
    font: {
      size: 16, // Set the font size of the title
    },
  },
},
scales: {

    y: {
      beginAtZero: false
    }
  },
legend: {
  position: 'bottom',
  labels: {
    fontColor: '#333', // Legend label color
    usePointStyle: true,
  },
},
layout: {
  padding: {
    top: 10,
    bottom: 10,
    left: 10,
    right: 10,
  },
},
responsive: true,
maintainAspectRatio: false,
}
});

function ratioFrame(ratiotype){
		console.log(ratiotype.value);
		if(ratiotype.value == 'eps'){
			chart2.data.datasets[0].data = rEPSdata;
		}
		if(ratiotype.value == 'pe'){
			chart2.data.datasets[0].data = rPEdata;
		}
		if(ratiotype.value == 'roe'){
			chart2.data.datasets[0].data = rROEdata;
		}
		if(ratiotype.value == 'om'){
			chart2.data.datasets[0].data = rOMdata;
		}
    if(ratiotype.value == 'dy'){
			chart2.data.datasets[0].data = rDYdata;
		}
		if(ratiotype.value == 'pr'){
			chart2.data.datasets[0].data = rPRdata;
		}
    if(ratiotype.value == 'fcf'){
			chart2.data.datasets[0].data = rFCFdata;
		}
    chart2.data.datasets[0].label = ratiotype.value;
		chart2.update()	
	}

</script>
<script type="text/javascript">
  // Get the average monthly data from your Flask code
  var rDividenddata = {{ dividend_data | tojson }};


  // Create a Chart.js chart
  var ctx = document.getElementById('LineChartDividend').getContext('2d');
  var chart3 = new Chart(ctx, {
      type: 'line',
      data: {
          //labels: labels,
          datasets: [{
              label: 'Dividend Amount',
              data: rDividenddata,
              backgroundColor: [
    'rgba(255, 26, 104, 0.2)',
    'rgba(54, 162, 235, 0.2)',
    'rgba(255, 206, 86, 0.2)',
    'rgba(75, 192, 192, 0.2)',
    'rgba(153, 102, 255, 0.2)',
    'rgba(255, 159, 64, 0.2)',
    'rgba(0, 0, 0, 0.2)'
  ],
  borderColor: [
    'rgba(255, 26, 104, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)',
    'rgba(0, 0, 0, 1)'
  ],
  borderWidth: 1,
              fill: false,
              
              tension: 0.1
          }]
      },
options: {
plugins: {
  title: {
    display: true,
    text: '{{company.stock_name}} Dividends', // Set the title text
    font: {
      size: 16, // Set the font size of the title
    },
  },
  zoom:{
      zoom:{
        wheel:{
          enabled: false
        }
      },
      pan:{
        enabled:true
      }
    }
},
scales: {
x: {
type: 'time',
time: {
  unit: 'year'
}
},
    y: {
      beginAtZero: true
    }
  },
legend: {
  position: 'bottom',
  labels: {
    fontColor: '#333', // Legend label color
    usePointStyle: true,
  },
},
layout: {
  padding: {
    top: 10,
    bottom: 10,
    left: 10,
    right: 10,
  },
},
responsive: true,
maintainAspectRatio: false,
}
});

</script>
<script type="text/javascript">
  $(document).ready(function() {
      $('#example').DataTable({
          "order": [[0, "desc"]] // Sort the first column (Date) in descending order
      });
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
      $('#example2').DataTable({
          "order": [[0, "desc"]] // Sort the first column (Date) in descending order
      });
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
      $('#example3').DataTable({
          "order": [[0, "desc"]] // Sort the first column (Date) in descending order
      });
  });
</script>
<script>
  document.getElementById('exportButton').addEventListener('click', function() {
      var tableData = 'stock_code,Date,Open,High,Low,Close,Volume\n';
      var stockCode = "{{ company.stock_code }}"; // Get the stock code from Jinja template

      var table = $('#example').DataTable();
      table.rows().every(function() {
          var data = this.data();
          tableData += stockCode + ',' + data.join(',') + '\n';
      });

      document.getElementById('tableData').value = tableData;
  });
</script>

<script>
document.getElementById('exportButtonRatio').addEventListener('click', function() {
    var tableData2 = 'stock_code,rDate,rEPS,rPE,rROE,rOM,rDY,rPR,rClass\n';

    var table2 = $('#example2').DataTable();
    table2.rows().every(function() {
        var data = this.data();
        var stockCode2 = "{{ company.stock_code }}".padStart(4, '0'); // Ensure it has leading zeroes
        tableData2 += stockCode2 + ',' + data.join(',') + '\n';
    });

    document.getElementById('tableData2').value = tableData2;
});
</script>

<script>
  document.getElementById('exportButtonDividend').addEventListener('click', function() {
  
      var tableData3 = 'stock_code,dAnnceDate,dExDate,dPayDate,dAmount\n';
      var stockCode3 = "{{ company.stock_code }}"; // Get the stock code from Jinja template

      var table3 = $('#example3').DataTable();
      table3.rows().every(function() {
          var data3 = this.data();
          tableData3 += stockCode3 + ',' + data3.join(',') + '\n';
      });

      document.getElementById('tableData3').value = tableData3;
  });
</script>
{% endblock %}

