{% extends "base.html" %}
{% block title %}All Stocks{% endblock %}
{% block content %}
<style>
  .container {
      margin-top: 20px;
      max-width: max-content;
  border-radius: 5px;
      justify-content: center;
      align-items: flex-start;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: white;
  }
  .card-header {
      background-color: rgb(208, 35, 35);
      text-align: center;
      color: white;
  }
  .btn-primary {
      background-color: rgb(208, 35, 35)!important;
      border-color: rgb(208, 35, 35)!important;
      margin-top: 10px;
  }
  .btn-primary:hover {
      background-color: rgb(175, 46, 46)!important;
      border-color: rgb(175, 46, 46)!important;
  }
</style>
<body>
  <div class="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0 text-white">All Stocks</h5>
            </div>
            <div class="card-body table-responsive">
              <table id="example" class="table table-striped table-hover " style="width:max-content">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Company Name</th>
                        <th>City</th>
                        <th>Industry</th>
                        <th>Sector</th>
                        <th>Action</t>
                    </tr>
                </thead>
                <tbody>
                    {% for company in company %}
                    <tr>
                        <td>{{company.stock_code}}</td>
                        <td>{{company.stock_name}}</td>
                        <td>{{company.city}}</td>
                        <td>{{company.industry}}</td>
                        <td>{{company.sector}}</td>
                        <td>
                            <a href="{{ url_for('views.detail', id=company.stock_code) }}" class="btn btn-primary">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                <div class="text-center">
                    <form method="POST">
                        <button type="submit" class="btn btn-primary">Export to CSV</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#example').DataTable();
            });
        </script>
</div>
</body>
<script type="text/javascript">
  $(document).ready(function() {
      $('#example').DataTable();
  });
</script>

{% endblock %}