{% extends "base.html" %}
{% block title%}Manage Account{% endblock %}
{% block content %}
<style>
    .container {
        margin-top: 20px;
        max-width: max-content;
		border-radius: 5px;
        justify-content: center;
        align-items: flex-start;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: white;
    }
    .card-header {
        background-color: rgb(208, 35, 35);
        text-align: center;
        color: white;
    }
    .btn-primary {
        background-color: rgb(208, 35, 35) !important;
        border-color: rgb(208, 35, 35) !important;
        margin-top: 10px;
    }
    .btn-primary:hover {
        background-color: rgb(175, 46, 46) !important;
        border-color: rgb(175, 46, 46) !important;
    }
</style>
<body>
    <div class="content">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0 text-white">User Information</h5>
                </div>
                <div class="card-body">
                    <table id="example" class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Admin User</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                {% if user.admin_user != 1 or current_user.id == 1 or user.id == current_user.id %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.admin_user }}</td>
                                        <td>
                                            <a href="{{ url_for('auth.edit_user', id=user.id) }}" class="btn btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#example').DataTable();
            });
        </script>
    </div>
</body>
{% endblock %}
