{% extends "base.html" %}
{% block title %}All Stocks{% endblock %}
{% block content %}
<style>
  .container {
      margin-top: 20px;
      max-width: max-content;
  border-radius: 5px;
      justify-content: center;
      align-items: flex-start;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: white;
  }
  .card-header {
      background-color: rgb(208, 35, 35);
      text-align: center;
      color: white;
  }
  .btn-primary {
      background-color: rgb(208, 35, 35)!important;
      border-color: rgb(208, 35, 35)!important;
      margin-top: 10px;
  }
  .btn-primary:hover {
      background-color: rgb(175, 46, 46)!important;
      border-color: rgb(175, 46, 46)!important;
  }
  .red-themed {
    background-color: rgb(208, 35, 35);
    color: white; /* Text color to ensure readability on a red background */
    } 
</style>
<body>
  <div class="content">

<!-- Chart code -->
<div class="container" style="text-align: center;">
  <div class="chart-container" style="max-width: 100%; overflow: auto;">
    <canvas id="LineChart" width="1600" height="600"></canvas>
  </div>
<br>
<button class="btn btn-primary" style="width: 100px;" onclick="timeFrame(this)" value="day">Day</button>
<button class="btn btn-primary" style="width: 100px;" onclick="timeFrame(this)" value="week">Week</button>
<button class="btn btn-primary" style="width: 100px;" onclick="timeFrame(this)" value="month">Month</button>
<br><br><br>
<div class="table-responsive">
<table id="example2" class="table table-striped table-hover">
<thead>
<tr>
    <th class="red-themed">Code</th>
    <th class="red-themed">Name</th>
    <th class="red-themed">Unit Quantity</th>
    <th class="red-themed">Purchase Date</th>
    <th class="red-themed">Purchase Price</th>
    <th class="red-themed">Latest Price</th>
    <th class="red-themed">Price Difference</th>
    <th class="red-themed">Purchase Value</th>
    <th class="red-themed">Latest Value</th>
    <th class="red-themed">Value Percentage</th>
    <th class="red-themed">Dividend Amount</th>
    <th class="red-themed">Dividend Yield</th>

</tr>
</thead>
<tbody>
{% for portfolio, calculation_result in portfolio_and_calculation_results %}
<tr>
    <td>{{ portfolio[0].stock_code }}</td> {# Access the stock_code attribute of the Portfolio object in the tuple. #}
    <td>{{ portfolio[1] }}</td> {# Access the stock_name directly from the tuple. #}
    <td>{{ portfolio[0].unitQuantity }}</td> {# Access the unitQuantity attribute of the Portfolio object in the tuple. #}
    <td>{{ portfolio[0].purchaseDate }}</td> {# Access the purchaseDate attribute of the Portfolio object in the tuple. #}
    <td>{{ calculation_result.purchase_price }}</td>
    <td>{{ calculation_result.latest_price }}</td>
    <td>{{ calculation_result.price_diff }}</td>
    <td>{{ calculation_result.purchase_amount }}</td>
    <td>{{ calculation_result.latest_amount }}</td>
    <td>{{ calculation_result.amount_perc }}</td>
    <td>{{ calculation_result.dividend_amount }}</td>
    <td>{{ calculation_result.dividend_yield }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>


<form method="POST" action="/export_csv">
  <input type="hidden" id="tableData" name="table_data" value="">
  <button type="submit" class="btn btn-primary" id="exportButton">Export to CSV</button>
</div>    

        <script type="text/javascript">
            $(document).ready(function() {
                $('#example2').DataTable();
            });
        </script>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js" integrity="sha512-wUYbRPLV5zs6IqvWd88HIqZU/b8TBx+I8LEioQ/UC0t5EMCLApqhIAnUg7EsAzdbhhdgW07TqYDdH3QEXRcPOQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    document.getElementById('exportButton').addEventListener('click', function() {
        var tableData = 'stock_code,stock_name,unitQuantity,purchaseDate,purchasePrice,latestPrice,priceDifference,purchaseAmount,latestAmount,amountPercentage,dividendAmount,dividendYield\n';
    
        var table2 = $('#example2').DataTable();
        table2.rows().every(function() {
            var data = this.data();
            // Exclude the last column (containing the delete button)
            tableData += data.join(',') + '\n'; // Append the data to the tableData
        });
    
        document.getElementById('tableData').value = tableData;
    });
    </script>
    <script type="text/javascript">
        // Get the average monthly data from your Flask code
        var price_diff_x_y = {{ price_diff_x_y_format | tojson }};


        // Create a Chart.js chart
        var ctx = document.getElementById('LineChart').getContext('2d');
        var chart1 = new Chart(ctx, {
            type: 'line',
            data: {
                //labels: labels,
                datasets: [{
                    label: 'Average Close Price',
                    data: price_diff_x_y,
                    backgroundColor: [
          'rgba(255, 26, 104, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(0, 0, 0, 0.2)'
        ],
        borderColor: [
          'rgba(255, 26, 104, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(0, 0, 0, 1)'
        ],
        borderWidth: 1,
                    fill: false,
                    
                    tension: 0.1
                }]
            },
    options: {
      plugins: {
        title: {
          display: true,
          text: 'Portfolio Performance', // Set the title text
          font: {
            size: 16, // Set the font size of the title
          },
        },
        zoom:{
      zoom:{
        wheel:{
          enabled: true
        }
      },
      pan:{
        enabled:true
      }
    }
      },
      scales: {
		x: {
			type: 'time',
			time: {
				unit: 'week'
			}
		},
          y: {
            beginAtZero: false
          }
        },
      legend: {
        position: 'bottom',
        labels: {
          fontColor: '#333', // Legend label color
          usePointStyle: true,
        },
      },
      layout: {
        padding: {
          top: 10,
          bottom: 10,
          left: 10,
          right: 10,
        },
      },
      responsive: true,
      maintainAspectRatio: false,
    }
  });
  function timeFrame(period){
		console.log(period.value);
		if(period.value == 'day'){
			chart1.data.datasets[0].data = averageDailyData;
      chart1.options.scales.x.time.unit = period.value;
		}
		if(period.value == 'week'){
			chart1.data.datasets[0].data = averageWeeklyData;
      chart1.options.scales.x.time.unit = period.value;
		}
		if(period.value == 'month'){
			chart1.data.datasets[0].data = averageMonthlyData;
      chart1.options.scales.x.time.unit = period.value;
		}			
    

    // chart1.options.plugins.zoom.zoom.wheel.enabled = false;
          chart1.resetZoom();
        chart1.update();
    // Wait for 3 seconds
    // setTimeout(function() {
    //     // Re-enable zoom
    //     chart1.options.plugins.zoom.zoom.wheel.enabled = true;
    //     chart1.update();
    // }, 1000);
	}

</script>
</body>



{% endblock %}